<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Lista de Alumnos</title>
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Lista de Alumnos</h1>
        <!-- Tabla que muestra a todos los alumnos -->
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Número de Control</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>ID de Grupo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% alumnos.forEach(alumno => { %>
                    <tr>
                        <td>
                            <%= alumno.NC %>
                        </td>
                        <td>
                            <%= alumno.Nombre %>
                        </td>
                        <td>
                            <%= alumno.App || 'No especificado' %>
                        </td>
                        <td>
                            <%= alumno.Apm || 'No especificado' %>
                        </td>
                        <td>
                            <%= alumno.IDGrupo || 'No especificado' %>
                        </td>
                        <td>
                            <!-- Botón de Editar que redirige a la página de edición del alumno -->
                            <a href="/alumnos/edit/<%= alumno._id %>" class="btn btn-warning">Editar</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <!-- Opción para agregar un nuevo alumno -->
        <div class="text-center mt-3">
            <a href="/alumnos/nuevo" class="btn btn-primary">Agregar Nuevo Alumno</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>